In [2]:

import pandas as pd
import numpy as np
import requests
import csv
import os
from os import path
from pprint import pprint
from datetime import datetime, timedelta
from pandas import DataFrame

In [3]:
# Cities files to load

cities_data_path = os.path.join("weather_by_city.csv")


# Read the cities data and the study results
cities_df = pd.read_csv(cities_data_path)


# Combine the data into a single dataset

cities_df = pd.DataFrame(cities_df)
cities_df.head()

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Temperature,Wind Speed
0,Novo Aripuanã,28,BR,1589680438,94,-5.12,-60.38,74.98,1.01
1,Barrow,90,US,1589680439,79,71.29,-156.79,26.60,9.17
2,Aksarka,100,RU,1589680439,95,66.56,67.80,34.18,4.21
3,Paignton,20,GB,1589680439,8,50.44,-3.57,48.00,1.99
4,Walvis Bay,0,NaN,1589680439,71,-22.96,14.51,57.20,3.36

In [4]:
cities_df['City'].nunique()

569

In [5]:
clean_df = cities_df.drop_duplicates(subset='City')

In [6]:
clean_df['City'].count()

569

In [7]:
cities_data_df = clean_df.reset_index(drop=True)
cities_data_df.columns

Index(['City', 'Cloudiness', 'Country', 'Date', 'Humidity', 'Latitude',
       'Longitude', 'Temperature', 'Wind Speed'],
      dtype='object')

In [8]:
# cities_data_df=cities_data_df.drop(['City_ID'], axis=1)
cities_data_df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Temperature,Wind Speed
0,Novo Aripuanã,28,BR,1589680438,94,-5.12,-60.38,74.98,1.01
1,Barrow,90,US,1589680439,79,71.29,-156.79,26.60,9.17
2,Aksarka,100,RU,1589680439,95,66.56,67.80,34.18,4.21
3,Paignton,20,GB,1589680439,8,50.44,-3.57,48.00,1.99
4,Walvis Bay,0,NaN,1589680439,71,-22.96,14.51,57.20,3.36
...,...,...,...,...,...,...,...,...,...
564,Tarko-Sale,94,RU,1589680590,85,64.92,77.78,48.99,11.77
565,Portland,90,US,1589680501,72,45.52,-122.68,64.40,8.86
566,São Gabriel da Cachoeira,56,BR,1589680592,97,-0.13,-67.09,74.28,1.66
567,Ulaanbaatar,20,MN,1589680531,39,47.91,106.88,44.60,20.13
568,Port Lincoln,2,AU,1589680592,47,-34.73,135.87,61.68,7.31

In [9]:
cities_data_df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Temperature,Wind Speed
0,Novo Aripuanã,28,BR,1589680438,94,-5.12,-60.38,74.98,1.01
1,Barrow,90,US,1589680439,79,71.29,-156.79,26.60,9.17
2,Aksarka,100,RU,1589680439,95,66.56,67.80,34.18,4.21
3,Paignton,20,GB,1589680439,8,50.44,-3.57,48.00,1.99
4,Walvis Bay,0,NaN,1589680439,71,-22.96,14.51,57.20,3.36
...,...,...,...,...,...,...,...,...,...
564,Tarko-Sale,94,RU,1589680590,85,64.92,77.78,48.99,11.77
565,Portland,90,US,1589680501,72,45.52,-122.68,64.40,8.86
566,São Gabriel da Cachoeira,56,BR,1589680592,97,-0.13,-67.09,74.28,1.66
567,Ulaanbaatar,20,MN,1589680531,39,47.91,106.88,44.60,20.13
568,Port Lincoln,2,AU,1589680592,47,-34.73,135.87,61.68,7.31

In [10]:
cities_data_df['Date'] =  pd.to_datetime(cities_data_df['Date'], unit='s')
cities_data_df
#2019-09-25 16:01:38  # UNIX STYLE DATE

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Temperature,Wind Speed
0,Novo Aripuanã,28,BR,2020-05-17 01:53:58,94,-5.12,-60.38,74.98,1.01
1,Barrow,90,US,2020-05-17 01:53:59,79,71.29,-156.79,26.60,9.17
2,Aksarka,100,RU,2020-05-17 01:53:59,95,66.56,67.80,34.18,4.21
3,Paignton,20,GB,2020-05-17 01:53:59,8,50.44,-3.57,48.00,1.99
4,Walvis Bay,0,NaN,2020-05-17 01:53:59,71,-22.96,14.51,57.20,3.36
...,...,...,...,...,...,...,...,...,...
564,Tarko-Sale,94,RU,2020-05-17 01:56:30,85,64.92,77.78,48.99,11.77
565,Portland,90,US,2020-05-17 01:55:01,72,45.52,-122.68,64.40,8.86
566,São Gabriel da Cachoeira,56,BR,2020-05-17 01:56:32,97,-0.13,-67.09,74.28,1.66
567,Ulaanbaatar,20,MN,2020-05-17 01:55:31,39,47.91,106.88,44.60,20.13
568,Port Lincoln,2,AU,2020-05-17 01:56:32,47,-34.73,135.87,61.68,7.31

In [11]:
cities_data_df.to_html('weather_by_city_data.html')